{% extends 'base.twig' %}
{% block title %}Accueil{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ asset('/css/LeBonPlan.css') }}" />
{% endblock %}
{% block content %}
    <!-- Section Notre Mission - Version modifiée -->
    <div class="container">
      <div class="section-title">
        <h2>Notre Mission</h2>
        <p>
          Vous aider à trouver le stage / alternance le plus utile pour vous
        </p>
      </div>

      <div class="mission-container">
        <div class="mission-item">
          <h3>Accélérez votre recherche de stage</h3>
          <p>
            Trouvez des offres adaptées à votre profil et à vos aspirations
            professionnelles rapidement et en toute simplicité.
          </p>
        </div>

        <div class="mission-item">
          <h3>Recrutez efficacement</h3>
          <p>
            Si vous êtes une entreprise, recrutez des candidats qui feront des
            choix en fonction de vos attentes
          </p>
        </div>

        <div class="mission-item">
          <h3>Réseau professionnel</h3>
          <p>
            Entrer en contact avec des professionnels en recherche active de
            stagiaires/alternants et inverssement.
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="section-title">
        <h2>Comment ça marche ?</h2>
        <p>
          Une plateforme simple et intuitive pour tous vos besoins
          professionnels.
        </p>
      </div>

      <div class="grid">
        <div class="card">
          <div class="card-icon">1</div>
          <h3>Créez votre profil</h3>
          <p>
            Inscrivez-vous en quelques minutes et complétez votre profil que
            vous soyey un stagiaire ou une entreprise.
          </p>
        </div>

        <div class="card">
          <div class="card-icon">2</div>
          <h3>Explorez les offres</h3>
          <p>
            Découvrez des opportunités adaptées à vos compétences grâce a une
            recherche intuitive et complète.
          </p>
        </div>

        <div class="card">
          <div class="card-icon">3</div>
          <h3>Postulez</h3>
          <p>Contactez directement les recruteurs en quelques clics.</p>
        </div>
      </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ asset('/js/LeBonPlan.js') }}"></script>
{% endblock %}